<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main">

    {{>header}}
    <p>Once upon a time I was a little girl. But since then I've become a big boy. The End.</p>
    <img class="portrait" src = "./img/mei.gif">

    </div>
</body>

<p>{{>footer}}</p>

</html>