<!DOCTYPE html>

<html>

<head>
    <title>F**K OFF</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">

    <p>Four Oh Four Baby!</p>
    {{>header}}
    <p>{{message}}</p>

    </div>
</body>

<p>{{>footer}}</p>

</html>